/*
PROJECT STYLES
==============
Imports all project style components.
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  min-width: 360px; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }

h1 {
  font-size: 72px;
  font-weight: 400;
  line-height: 90px; }

h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 48px;
  font-weight: 400;
  text-transform: uppercase; }

h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 48px;
  font-weight: 300;
  line-height: 36px; }

h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 90px; }

.basic-text {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 27px; }

.distinct-text {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 36px; }

.btn-text {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 400; }

.light-text {
  font-weight: 300; }

.normal-text {
  font-weight: 400; }

.fat-text {
  font-weight: 600; }

.fatter-text {
  font-weight: 600; }

.fattest-text {
  font-weight: 700; }

.main-button {
  background-color: #ffb01e; }

.nav {
  height: 150px; }
