/*
PROJECT STYLES
==============
Imports all project style components.
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  background-color: #fff; }

body {
  min-width: 360px; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }

h1 {
  font-size: 54px;
  font-weight: 400;
  line-height: 68px;
  color: #fff;
  text-align: center; }
  @media all and (max-width: 575px) {
    h1 {
      font-size: 36px;
      line-height: 40px; } }

h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  color: #003f8c; }

h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 27px;
  color: #003f8c; }

h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 68px;
  color: #fff;
  text-align: left;
  width: 100%; }
  @media all and (max-width: 575px) {
    h4 {
      font-size: 18px;
      line-height: 36px; } }

.basic-text {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-align: justify; }

.distinct-text, .nav-list-el {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  color: #003f8c;
  text-align: justify; }

.name-text {
  font-family: "Open Sans", sans-serif;
  color: #ffb01e;
  font-weight: 500; }

.add-text {
  font-family: "Open Sans", sans-serif;
  font-size: 23px;
  font-weight: 500;
  line-height: 20px; }

.btn-text {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400; }

.light-text {
  font-weight: 300; }

.normal-text, .nav-list-el {
  font-weight: 400; }

.fat-text {
  font-weight: 600; }

.fatter-text {
  font-weight: 600; }

.fattest-text {
  font-weight: 700; }

.main-button {
  background-color: #ffb01e;
  padding: 14px 38px;
  border: none;
  color: #fff; }

.form-input {
  height: 43px;
  width: 100%; }

.nav {
  height: 112px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 0 8%;
  border-top: 7px solid #d5d5d5;
  background-color: #fff; }
  @media all and (max-width: 1400px) {
    .nav {
      padding: 0 30px; } }
  @media all and (max-width: 575px) {
    .nav {
      padding: 0;
      display: block; } }
  .nav-list {
    width: 50%;
    display: flex;
    justify-content: space-between; }
    @media all and (max-width: 575px) {
      .nav-list {
        padding: 0;
        width: 100%;
        flex-wrap: wrap; } }
    .nav-list-el {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff; }
      @media all and (max-width: 575px) {
        .nav-list-el {
          width: 100%;
          flex-wrap: wrap;
          justify-content: flex-start;
          padding: 0 15px;
          height: 50px;
          border-bottom: 1px solid #d5d5d5; } }
    .nav-list .nav-media .nav-icon-img {
      display: inline-block;
      height: 24px; }
      .nav-list .nav-media .nav-icon-img:first-of-type {
        padding: 0 10px 0 0; }
      .nav-list .nav-media .nav-icon-img:last-of-type {
        padding: 0 30px 0 10px; }
      @media all and (max-width: 575px) {
        .nav-list .nav-media .nav-icon-img {
          height: 32px; } }
  .nav-list-1 {
    padding-right: 238px; }
    @media all and (max-width: 575px) {
      .nav-list-1 {
        padding: 0; } }
  .nav-list-2 {
    padding-left: 238px; }
    @media all and (max-width: 575px) {
      .nav-list-2 {
        padding: 0; } }
  .nav-logo {
    display: inline-block;
    position: absolute;
    top: -7px;
    left: calc(50% - 178px);
    width: 357px;
    height: 178px;
    background-color: #003f8c;
    border: 7px solid #fff;
    border-top: none; }
    @media all and (max-width: 575px) {
      .nav-logo {
        border: none;
        width: 100%;
        position: static; } }
    .nav-logo .logo-stars {
      display: flex;
      width: 100%;
      justify-content: center;
      padding: 22px 0 16px; }
      .nav-logo .logo-stars .logo-star {
        height: 30px;
        padding: 0 7px; }
    .nav-logo .logo-main {
      text-align: center; }
      .nav-logo .logo-main-img {
        width: 206px;
        display: inline-block; }

.header {
  background-image: url(../images/photos/header.png);
  height: auto;
  background-position: bottom;
  background-size: cover; }
  .header-title {
    padding: 10px 0; }
  .header-container {
    width: 60%;
    max-width: 893px;
    height: calc(100% - 112px);
    margin: 0 auto;
    background-color: #002070de;
    padding: 143px 33px 29px 33px;
    text-align: center; }
    @media all and (max-width: 575px) {
      .header-container {
        width: 100%;
        margin-top: 373px;
        padding: 15px; } }
    .header-container .main-button {
      margin: 54px 0; }
      @media all and (max-width: 575px) {
        .header-container .main-button {
          margin: 20px 0; } }
    .header-container .header-form {
      padding: 0 57px 30px 57px;
      border: 5px solid #fff;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      @media all and (max-width: 575px) {
        .header-container .header-form {
          padding: 0 15px 15px 15px; } }
      .header-container .header-form .form-group {
        display: flex;
        flex-wrap: wrap;
        width: 251px; }
        @media all and (max-width: 1400px) {
          .header-container .header-form .form-group {
            width: 50%;
            padding-bottom: 20px; } }
        .header-container .header-form .form-group .form-input {
          margin-right: 23px; }
          .header-container .header-form .form-group .form-input:first-of-type {
            margin-bottom: 23px; }
      .header-container .header-form .form-submit {
        margin: 0 auto; }
        .header-container .header-form .form-submit .submit-bell {
          height: 33px;
          display: block;
          margin: auto; }

.about {
  display: none; }

.rooms {
  position: relative;
  width: 100%;
  padding: 55px 185px; }
  @media all and (max-width: 575px) {
    .rooms {
      padding: 0; } }
  @media all and (max-width: 575px) {
    .rooms-title-space {
      display: none; } }
  @media all and (max-width: 575px) {
    .rooms-title {
      padding-top: 10px; } }
  .rooms-title:nth-of-type(odd) {
    text-align: right;
    position: relative; }
    @media all and (max-width: 575px) {
      .rooms-title:nth-of-type(odd) {
        padding-right: 15px; } }
    .rooms-title:nth-of-type(odd):before {
      content: "";
      position: absolute;
      display: inline-block;
      width: 1000px;
      height: 1px;
      background-color: #003f8c;
      top: 22px;
      right: 160px; }
      @media all and (max-width: 575px) {
        .rooms-title:nth-of-type(odd):before {
          width: 500px;
          top: 30px;
          right: 270px; } }
  .rooms .title-stars:nth-of-type(odd) {
    text-align: right; }
    @media all and (max-width: 575px) {
      .rooms .title-stars:nth-of-type(odd) {
        padding-right: 15px;
        padding-bottom: 10px; } }
  .rooms .title-stars .title-star {
    width: 22px;
    margin-left: 8px; }
  .rooms .distinct-text, .rooms .nav-list-el {
    position: absolute;
    top: 36px;
    left: 0;
    background-color: #003f8c;
    color: #fff;
    padding: 30px 50px 30px 185px;
    width: 57%; }
    @media all and (max-width: 575px) {
      .rooms .distinct-text, .rooms .nav-list-el {
        position: static;
        width: 100%;
        padding: 30px 15px; } }
  .rooms .room {
    display: flex;
    width: 100%; }
    @media all and (max-width: 575px) {
      .rooms .room {
        flex-wrap: wrap;
        flex-direction: column-reverse; } }
    .rooms .room .room-img {
      width: 57%;
      padding-top: 32px;
      object-fit: contain; }
      @media all and (max-width: 1400px) {
        .rooms .room .room-img {
          padding-top: 70px;
          object-fit: cover; } }
      @media all and (max-width: 575px) {
        .rooms .room .room-img {
          width: 100%;
          padding-top: 0; } }
    .rooms .room .room-desc {
      display: inline-block;
      position: relative;
      width: 42%;
      padding: 104px 0 166px 90px; }
      @media all and (max-width: 1400px) {
        .rooms .room .room-desc {
          padding-left: 60px; } }
      @media all and (max-width: 575px) {
        .rooms .room .room-desc {
          width: 100%;
          padding: 30px 15px; } }
      .rooms .room .room-desc .room-name {
        padding-bottom: 27px; }
      .rooms .room .room-desc .room-icons {
        padding-top: 26px; }
        .rooms .room .room-desc .room-icons .room-icon {
          height: 38px;
          padding-right: 53px; }
          @media all and (max-width: 1400px) {
            .rooms .room .room-desc .room-icons .room-icon {
              padding-right: 20px; } }
      .rooms .room .room-desc .add-text {
        position: absolute;
        bottom: 0;
        right: 92px;
        color: #fff;
        padding: 45px 0;
        text-align: center;
        width: 120%;
        background-color: #003f8ce8; }
        @media all and (max-width: 575px) {
          .rooms .room .room-desc .add-text {
            position: static;
            margin-top: 10px;
            padding: 10px;
            width: auto; } }
