* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: $white;
}

body {
    min-width: 360px;
    // max-width: 1920px;
    // max-width: 1477px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}