h1 {
  font-size: 54px;
  font-weight: 400;
  line-height: 68px;
  color: $white;
  text-align: center;
}

h2 {
  font-family: $main-font;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
}


h3 {
  font-family: $main-font;
  font-size: 26px;
  font-weight: 400;
  line-height: 68px;
  color: $white;
  text-align: left;
  width: 100%;
}

// h4 {
//   font-family: $main-font;
//   font-size: 36px;
//   font-weight: 400;
//   line-height: 90px;
// }

h4 {
  font-family: $main-font;
  font-size: 27px;
  font-weight: 400;
  line-height: 68px;
}

// .basic-text {
//   font-family: $main-font;
//   font-size: 18px;
//   font-weight: 300;
//   line-height: 27px;
// }

.basic-text {
  font-family: $main-font;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

// .distinct-text {
//   font-family: $main-font;
//   font-size: 24px;
//   font-weight: 300;
//   line-height: 36px;
// }

.distinct-text {
  font-family: $main-font;
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  color: $main-color;
}

// .btn-text {
//   font-family: $main-font;
//   font-size: 24px;
//   font-weight: 400;
// }

.btn-text {
  font-family: $main-font;
  font-size: 18px;
  font-weight: 400;
}

.light-text {
  font-weight: 300;
}

.normal-text {
  font-weight: 400;
}

.fat-text {
  font-weight: 600;
}

.fatter-text {
  font-weight: 600;
}

.fattest-text {
  font-weight: 700;
}
