.header {
  height: auto;
  background-image: url(../images/photos/header.png);
  background-position: bottom;
  background-size: cover;

  &-title {
    padding: 10px 0;
  }

  &-container {
    width: 60%;
    max-width: 893px;
    margin: 0 auto;
    background-color: $transparent-header-color;
    padding: 143px 33px 29px 33px;
    text-align: center;

    @media #{$max575} {
      width: 100%;
      padding: $main-section-space-sm;
    }

    .main-button {
      @extend .btn-text;
      margin: 54px 0;
      @media #{$max575} {
        margin: 20px 0;
      }
    }

    .header-form {
      padding: 0 57px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      border: 5px solid $white;

      @media #{$max575} {
        padding: 0 $main-section-space-sm $main-section-space-sm $main-section-space-sm;
      }

      .form-group {
        width: 35%;
        padding-bottom: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @media #{$max1400} {
          width: 50%;
        }

        @media #{$max575} {
          width: calc(50% - 10px);

          &:first-of-type {
            margin-right: 5px;
          }
        }
        .form-input {
          margin-right: 23px;

          &:first-of-type {
            margin-bottom: 23px;
          }

          @media #{$max575} {
            margin-right: 0;
          }
        }
      }

      .form-submit {
        margin: auto;
        margin-top: 0;
        margin-bottom: 43px;

        .submit-bell {
          height: 33px;
          margin: auto;
          display: block;
        }
      }
    }
  }
}
