.rooms {
  position: relative;
  width: 100%;
  padding: 55px 185px;

  @media #{$max575} {
    padding: 0;
  }

  &-title {
    &-space {
      @media #{$max575} {
        display: none;
      }
    }

    @media #{$max575} {
      padding-top: 10px;
    }

    &:nth-of-type(odd) {
      text-align: right;
      position: relative;

      @media #{$max575} {
        padding-right: 15px;
      }

      &:before {
        content: "";
        position: absolute;
        display: inline-block;
        width: 1000px;
        height: 1px;
        background-color: $main-color;
        top: 22px;
        right: 160px;

        @media #{$max575} {
          width: 500px;
          top: 30px;
          right: 270px;
        }
      }
    }
  }

  .title-stars {
    &:nth-of-type(odd) {
      text-align: right;

      @media #{$max575} {
        padding-right: 15px;
        padding-bottom: 10px;
      }
    }
    .title-star {
      width: 22px;
      margin-left: 8px;
    }
  }

  .distinct-text {
    position: absolute;
    top: 36px;
    left: 0;
    background-color: $main-color;
    color: $white;
    padding: 30px 50px 30px 185px;
    width: 57%;
    // height: 159px;

    @media #{$max575} {
      position: static;
      width: 100%;
      padding: 30px 15px;
    }
  }

  .room {
    display: flex;
    width: 100%;

    .room-img {
      width: 57%;
      padding-top: 2px;
      object-fit: contain;

      @media #{$max1400} {
        padding-top: 70px;
        object-fit: cover;
      }

      @media #{$max575} {
        width: 100%;
        padding-top: 0;
      }
    }

    .room-desc {
      display: inline-block;
      position: relative;
      width: 42%;
      padding: 104px 0 166px 90px;

      @media #{$max1400} {
        padding-left: 60px;
      }

      @media #{$max575} {
        width: 100%;
        padding: 30px 15px;
      }

      .room-name {
        padding-bottom: 27px;
      }

      .room-icons {
        padding-top: 26px;
        .room-icon {
          height: 38px;
          padding-right: 53px;

          @media #{$max1400} {
            padding-right: 20px;
          }
        }
      }
      .add-text {
        position: absolute;
        bottom: 0;
        right: 92px;
        color: $white;
        padding: 45px 0;
        text-align: center;
        width: 120%;
        background-color: $transparent-main-color;

        @media #{$max575} {
          position: static;
          margin-top: 10px;
          padding: 10px;
          width: auto;
        }
      }
    }

    &:first-of-type {
      .room-img {
        padding-top: 32px;
      }
    }

    &:nth-of-type(odd) {
      flex-direction: row-reverse;

      @media #{$max575} {
        flex-direction: column-reverse;
      }

      .room-desc {
        padding: 104px 90px 166px 0;

        @media #{$max575} {
          width: 100%;
          padding: 30px 15px;
        }

        .add-text {
          left: 92px;
        }
      }
    }

    @media #{$max575} {
      flex-wrap: wrap;
      flex-direction: column-reverse;
    }
  }

  .main-button {
    @extend .btn-text;
    margin: 38px auto;
    padding: 23px 68px;
    display: flex;
    align-self: center;
    
  }
}
